.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center center;
    object-fit: cover;
}

.top-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center center;
    object-fit: cover;
}

.profile {
    text-align: center;
}

.text {
    line-height: 24px;
}

.readmore-btn {
    text-align: right;
    display: none;
}